.profileInfo {

  width: 100%;
  border: 1px solid #545454;

  .profileImg {
    max-width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    vertical-align: middle;

    //background-image: url("../../../assets/images/timeline-1.jpg");
  }

}

